--S-商城系统配置.xlsx GM商店
GMStoreConfig={
[1] = {
	index = 1,
	id = 1,
	itemId = 200164,
	count = 1,
	use = "获得100万铜钱",
	price = 1,
	val = 100000,
},
[2] = {
	index = 2,
	id = 2,
	itemId = 200001,
	count = 100,
	use = "提升仙羽",
	price = 1,
	val = 100000,
},
[3] = {
	index = 3,
	id = 3,
	itemId = 200002,
	count = 200,
	use = "强化装备",
	price = 1,
	val = 300000,
},
[4] = {
	index = 4,
	id = 4,
	itemId = 200136,
	count = 50,
	use = "精炼装备",
	price = 1,
	val = 300000,
},
[5] = {
	index = 5,
	id = 5,
	itemId = 200003,
	count = 100,
	use = "提升聚灵",
	price = 1,
	val = 1000000,
},
[6] = {
	index = 6,
	id = 6,
	itemId = 200004,
	count = 100,
	use = "提升洗髓",
	price = 1,
	val = 1000000,
},
[7] = {
	index = 7,
	id = 7,
	itemId = 200005,
	count = 50,
	use = "提升御器",
	price = 1,
	val = 1000000,
},
[8] = {
	index = 8,
	id = 8,
	itemId = 201103,
	count = 10,
	use = "获得100万元宝",
	price = 1,
	val = 5000000,
},
[9] = {
	index = 9,
	id = 9,
	itemId = 200007,
	count = 500,
	use = "合成升级神装",
	price = 1,
	val = 5000000,
},
[10] = {
	index = 10,
	id = 10,
	itemId = 200009,
	count = 20,
	use = "转生修为",
	price = 1,
	val = 5000000,
},
[11] = {
	index = 11,
	id = 11,
	itemId = 200150,
	count = 1,
	use = "直升仙羽",
	price = 1,
	Limit = 5,
	val = 5000000,
},
[12] = {
	index = 12,
	id = 12,
	itemId = 200008,
	count = 1,
	use = "获得至圣装备",
	price = 1,
	Limit = 100,
	val = 10000000,
},
[13] = {
	index = 13,
	id = 13,
	itemId = 200010,
	count = 1,
	use = "转生修为",
	price = 1,
	Limit = 20,
	val = 10000000,
},
[14] = {
	index = 14,
	id = 14,
	itemId = 201006,
	count = 1,
	use = "获得佳人图鉴",
	price = 1,
	Limit = 5,
	val = 10000000,
},
[15] = {
	index = 15,
	id = 15,
	itemId = 220011,
	count = 1,
	use = "随机高级天书",
	price = 1,
	Limit = 10,
	val = 10000000,
},
[16] = {
	index = 16,
	id = 16,
	itemId = 204064,
	count = 1,
	use = "转生或飞升",
	price = 1,
	Limit = 5,
	val = 10000000,
},
[17] = {
	index = 17,
	id = 17,
	itemId = 200974,
	count = 1,
	use = "极品战纹",
	price = 1,
	Limit = 5,
	val = 10000000,
},
[18] = {
	index = 18,
	id = 18,
	itemId = 200317,
	count = 1,
	use = "获得4阶神羽",
	price = 1,
	Limit = 5,
	val = 30000000,
},
[19] = {
	index = 19,
	id = 19,
	itemId = 204065,
	count = 1,
	use = "转生或飞升",
	price = 1,
	Limit = 5,
	val = 30000000,
},
[20] = {
	index = 20,
	id = 20,
	itemId = 204105,
	count = 1,
	use = "获得无极装备",
	price = 1,
	Limit = 3,
	val = 30000000,
},
[21] = {
	index = 21,
	id = 21,
	itemId = 200975,
	count = 1,
	use = "神品仙纹",
	price = 1,
	Limit = 5,
	val = 30000000,
},
[22] = {
	index = 22,
	id = 22,
	itemId = 200926,
	count = 1,
	use = "激活神兵大招",
	price = 1,
	Limit = 2,
	val = 30000000,
},
[23] = {
	index = 23,
	id = 23,
	itemId = 200302,
	count = 1,
	use = "获得诛仙装备" ,
	price = 1,
	Limit = 5,
	val = 50000000,
},
[24] = {
	index = 24,
	id = 24,
	itemId = 200925,
	count = 1,
	use = "红品仙纹",
	price = 1,
	Limit = 10,
	val = 50000000,
},
[25] = {
	index = 25,
	id = 25,
	itemId = 200977,
	count = 1,
	use = "极品心法" ,
	price = 1,
	Limit = 10,
	val = 50000000,
},
[26] = {
	index = 26,
	id = 26,
	itemId = 204106,
	count = 1,
	use = "获得无极装备",
	price = 1,
	Limit = 5,
	val = 50000000,
},
[27] = {
	index = 27,
	id = 27,
	itemId = 200325,
	count = 1,
	use = "极品圣魂",
	price = 1,
	Limit = 3,
	val = 50000000,
},
[28] = {
	index = 28,
	id = 28,
	itemId = 201007,
	count = 1,
	use = "获得佳人图鉴",
	price = 1,
	Limit = 10,
	val = 50000000,
},
[29] = {
	index = 29,
	id = 29,
	itemId = 201018,
	count = 1,
	use = "获得圣地图鉴",
	price = 1,
	Limit = 10,
	val = 50000000,
},
}