--S-商城系统配置.xlsx 道具商店
ItemStoreConfig={
[1] = {
	index = 1,
	id = 1,
	itemId = 200003,
	use = LAN.SHOP.good003,
	price = 300,
},
[2] = {
	index = 2,
	id = 2,
	itemId = 200005,
	use = LAN.SHOP.good004,
	price = 500,
},
[3] = {
	index = 3,
	id = 3,
	itemId = 200009,
	use = LAN.SHOP.good005,
	price = 5000,
},
[4] = {
	index = 4,
	id = 4,
	itemId = 200010,
	use = LAN.SHOP.good005,
	price = 48888,
},
[5] = {
	index = 5,
	id = 5,
	itemId = 450001,
	use = LAN.SHOP.good009,
	price = 999999,
},
[6] = {
	index = 6,
	id = 6,
	itemId = 200001,
	use = LAN.SHOP.good001,
	price = 200,
},
[7] = {
	index = 7,
	id = 7,
	itemId = 201104,
	use = LAN.SHOP.good023,
	price = 5000,
},
[8] = {
	index = 8,
	id = 8,
	itemId = 201105,
	use = LAN.SHOP.good023,
	price = 48888,
},
[9] = {
	index = 9,
	id = 9,
	itemId = 205000,
	use = LAN.SHOP.good031,
	price = 200,
},
}