--Z-遭遇战.xlsx 排名奖
SkirmishRankConfig={
{
	minRank = 1,
	maxRank = 1,
	rewards = {{type=1,id=200136,count=5000},{type=1,id=200004,count=200}},
},
{
	minRank = 2,
	maxRank = 2,
	rewards = {{type=1,id=200136,count=4500},{type=1,id=200004,count=150}},
},
{
	minRank = 3,
	maxRank = 3,
	rewards = {{type=1,id=200136,count=3000},{type=1,id=200004,count=100}},
},
{
	minRank = 4,
	maxRank = 4,
	rewards = {{type=1,id=200136,count=1500},{type=1,id=200004,count=50}},
},
{
	minRank = 5,
	maxRank = 5,
	rewards = {{type=1,id=200136,count=1500},{type=1,id=200004,count=50}},
},
{
	minRank = 6,
	maxRank = 10,
	rewards = {{type=1,id=200136,count=1500},{type=1,id=200004,count=50}},
},
{
	minRank = 11,
	maxRank = 50,
	rewards = {{type=1,id=200136,count=500},{type=1,id=200004,count=10}},
},
{
	minRank = 51,
	maxRank = 100,
	rewards = {{type=1,id=200136,count=500},{type=1,id=200004,count=10}},
},
{
	minRank = 101,
	maxRank = 500,
	rewards = {{type=1,id=200136,count=500},{type=1,id=200004,count=10}},
},
{
	minRank = 501,
	maxRank = 1000,
	rewards = {{type=1,id=200136,count=500},{type=1,id=200004,count=10}},
},
{
	minRank = 1001,
	maxRank = 2000,
	rewards = {{type=1,id=200136,count=500},{type=1,id=200004,count=10}},
},
{
	minRank = 2001,
	maxRank = 5000,
	rewards = {{type=1,id=200136,count=500},{type=1,id=200004,count=10}},
},
{
	minRank = 5001,
	maxRank = 10000,
	rewards = {{type=1,id=200136,count=500},{type=1,id=200004,count=10}},
},
{
	minRank = 10001,
	maxRank = 50000,
	rewards = {{type=1,id=200136,count=500},{type=1,id=200004,count=10}},
},
}