--C-充值奖励配置.xlsx 首充配置
FirstRechargeConfig={
[6000] = {
	id = 6000,
	pay = 6000,
	payReturn = 24000,
	payType = "android",
},
[100000] = {
	id = 100000,
	pay = 100000,
	payReturn = 400000,
	payType = "android",
},
[500000] = {
	id = 500000,
	pay = 500000,
	payReturn = 2000000,
	payType = "android",
},
[1000000] = {
	id = 1000000,
	pay = 1000000,
	payReturn = 4000000,
	payType = "android",
},
}