--C-充值奖励配置.xlsx 循环充值配置 
LoopRechargeConfig={
[1] = {
	[0] = {
		day = 1,
		index = 0,
		pay = 20000,
		awardList = {{type=1,id=200318,count=10},{type=1,id=270003,count=2},{type=0,id=2,count=3000},{type=1,id= 200166,count=2}},
		value = 88888,
	},
	[1] = {
		day = 1,
		index = 1,
		pay = 50000,
		awardList = {{type=1,id=200318,count=15},{type=1,id=270003,count=3},{type=1,id=200166,count=3},{type=1,id= 220011,count=1}},
		value = 128888,
	},
	[2] = {
		day = 1,
		index = 2,
		pay = 100000,
		awardList = {{type=1,id=270003,count=5},{type=1,id=200012,count=3},{type=1,id=200165,count=10},{type=1,id= 200007,count=1000}},
		value = 328888,
	},
	[3] = {
		day = 1,
		index = 3,
		pay = 300000,
		awardList = {{type=1,id=270003,count=20},{type=1,id=200012,count=6},{type=1,id=200165,count=20},{type=1,id= 200007,count=2000}},
		value = 588888,
	},
	[4] = {
		day = 1,
		index = 4,
		pay = 1000000,
		awardList = {{type=1,id=201008,count=1},{type=1,id=270003,count=70},{type=1,id=220011,count=3},{type=1,id= 601103,count=3}},
		value = 888888,
	},
	[5] = {
		day = 1,
		index = 5,
		pay = 3000000,
		awardList = {{type=1,id=200141,count=3000},{type=1,id=200008,count=1800},{type=1,id=270003,count=200},{type=1,id= 601104,count=2}},
		value = 1188888,
	},
	[6] = {
		day = 1,
		index = 6,
		pay = 5000000,
		awardList = {{type=1,id=270003,count=200},{type=1,id=200328,count=300},{type=1,id=200008,count=2000},{type=1,id= 601105,count=1}},
		value = 1388888,
	},
},
}