--C-充值奖励配置.xlsx 多日循环连充
MultiDayRechargeConfig = {
[1] = {
	id = 1,
	num = 10000,
	awardList = {[0]={{type=0,id=2,count=10000}},[30]={{type=0,id=2,count=10000}},[60]={{type=0,id=2,count=10000}}},
},
[2] = {
	id = 2,
	num = 50000,
	awardList = {[0]={{type=0,id=2,count=50000}},[30]={{type=0,id=2,count=50000}},[60]={{type=0,id=2,count=50000}}},
},
[3] = {
	id = 3,
	num = 200000,
	awardList = {[0]={{type=0,id=2,count=200000}},[30]={{type=0,id=2,count=200000}},[60]={{type=0,id=2,count=200000}}},
},
}