--C-充值奖励配置.xlsx 多日循环连充
MultiDayRechargeConfig = {
[1] = {
	id = 1,
	num = 10000,
	awardList = {[0]={{type=0,id=2,count=10000}},[30]={{type=0,id=2,count=10000}},[60]={{type=0,id=2,count=10000}}},
},
[2] = {
	id = 2,
	num = 30000,
	awardList = {[0]={{type=0,id=2,count=60000}},[30]={{type=0,id=2,count=60000}},[60]={{type=0,id=2,count=60000}}},
},
[3] = {
	id = 3,
	num = 60000,
	awardList = {[0]={{type=0,id=2,count=120000}},[30]={{type=0,id=2,count=120000}},[60]={{type=0,id=2,count=120000}}},
},
}