--C-充值奖励配置.xlsx 充值套餐基础配置
RechargeItemsConfig = {
[1] = {
	id = 1,
	amount = 1000,
	award = 3000,
	payType = "android",
},
[2] = {
	id = 2,
	amount = 10000,
	award = 30000,
	payType = "android",
},
[3] = {
	id = 3,
	amount = 30000,
	award = 90000,
	payType = "android",
},
[4] = {
	id = 4,
	amount = 60000,
	award = 180000,
	payType = "android",
},
[5] = {
	id = 5,
	amount = 100000,
	award = 300000,
	payType = "android",
},
[6] = {
	id = 6,
	amount = 200000,
	award = 600000,
	payType = "android",
},
[7] = {
	id = 7,
	amount = 500000,
	award = 1500000,
	payType = "android",
},
[8] = {
	id = 8,
	amount = 1000000,
	award = 3000000,
	payType = "android",
},
[9] = {
	id = 9,
	amount = 2000000,
	award = 6000000,
	payType = "android",
},
[10] = {
	id = 10,
	amount = 5000000,
	award = 15000000,
	payType = "android",
},
[11] = {
	id = 11,
	amount = 10000000,
	award = 30000000,
	payType = "android",
},
}