--C-充值奖励配置.xlsx 日常充值累计天数奖励配置
RechargeDaysAwardsConfig = {
[1] = {
	awardList = {{type=0,id=2,count=1000},{type=1,id=200141,count=250}},
},
[2] = {
	awardList = {{type=0,id=2,count=1000},{type=1,id=200141,count=250}},
},
[3] = {
	awardList = {{type=0,id=2,count=1000},{type=1,id=900001,count=1}},
},
[4] = {
	awardList = {{type=0,id=2,count=1000},{type=1,id=220011,count=1}},
},
[5] = {
	awardList = {{type=0,id=2,count=1000},{type=1,id=200141,count=500}},
},
[6] = {
	awardList = {{type=0,id=2,count=1000},{type=1,id=900001,count=1}},
},
[7] = {
	awardList = {{type=0,id=2,count=1000},{type=1,id=900001,count=1}},
},
[8] = {
	awardList = {{type=0,id=2,count=1000}},
},
[9] = {
	awardList = {{type=0,id=2,count=1000}},
},
[10] = {
	awardList = {{type=0,id=2,count=1000}},
},
[11] = {
	awardList = {{type=0,id=2,count=1000}},
},
[12] = {
	awardList = {{type=0,id=2,count=1000}},
},
[13] = {
	awardList = {{type=0,id=2,count=1000}},
},
[14] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=200113,count=1}},
},
[15] = {
	awardList = {{type=0,id=2,count=1000}},
},
[16] = {
	awardList = {{type=0,id=2,count=1000}},
},
[17] = {
	awardList = {{type=0,id=2,count=1000}},
},
[18] = {
	awardList = {{type=0,id=2,count=1000}},
},
[19] = {
	awardList = {{type=0,id=2,count=1000}},
},
[20] = {
	awardList = {{type=0,id=2,count=1000}},
},
[21] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=252230,count=1}},
},
[22] = {
	awardList = {{type=0,id=2,count=1000}},
},
[23] = {
	awardList = {{type=0,id=2,count=1000}},
},
[24] = {
	awardList = {{type=0,id=2,count=1000}},
},
[25] = {
	awardList = {{type=0,id=2,count=1000}},
},
[26] = {
	awardList = {{type=0,id=2,count=1000}},
},
[27] = {
	awardList = {{type=0,id=2,count=1000}},
},
[28] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=220011,count=1}},
},
[29] = {
	awardList = {{type=0,id=2,count=1000}},
},
[30] = {
	awardList = {{type=0,id=2,count=1000}},
},
[31] = {
	awardList = {{type=0,id=2,count=1000}},
},
[32] = {
	awardList = {{type=0,id=2,count=1000}},
},
[33] = {
	awardList = {{type=0,id=2,count=1000}},
},
[34] = {
	awardList = {{type=0,id=2,count=1000}},
},
[35] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=260065,count=1}},
},
[36] = {
	awardList = {{type=0,id=2,count=1000}},
},
[37] = {
	awardList = {{type=0,id=2,count=1000}},
},
[38] = {
	awardList = {{type=0,id=2,count=1000}},
},
[39] = {
	awardList = {{type=0,id=2,count=1000}},
},
[40] = {
	awardList = {{type=0,id=2,count=1000}},
},
[41] = {
	awardList = {{type=0,id=2,count=1000}},
},
[42] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=200301,count=250}},
},
[43] = {
	awardList = {{type=0,id=2,count=1000}},
},
[44] = {
	awardList = {{type=0,id=2,count=1000}},
},
[45] = {
	awardList = {{type=0,id=2,count=1000}},
},
[46] = {
	awardList = {{type=0,id=2,count=1000}},
},
[47] = {
	awardList = {{type=0,id=2,count=1000}},
},
[48] = {
	awardList = {{type=0,id=2,count=1000}},
},
[49] = {
	awardList = {{type=0,id=2,count=50000}},
},
[50] = {
	awardList = {{type=0,id=2,count=1000}},
},
[51] = {
	awardList = {{type=0,id=2,count=1000}},
},
[52] = {
	awardList = {{type=0,id=2,count=1000}},
},
[53] = {
	awardList = {{type=0,id=2,count=1000}},
},
[54] = {
	awardList = {{type=0,id=2,count=1000}},
},
[55] = {
	awardList = {{type=0,id=2,count=1000}},
},
[56] = {
	awardList = {{type=0,id=2,count=50000}},
},
[57] = {
	awardList = {{type=0,id=2,count=1000}},
},
[58] = {
	awardList = {{type=0,id=2,count=1000}},
},
[59] = {
	awardList = {{type=0,id=2,count=1000}},
},
[60] = {
	awardList = {{type=0,id=2,count=1000}},
},
[61] = {
	awardList = {{type=0,id=2,count=1000}},
},
[62] = {
	awardList = {{type=0,id=2,count=1000}},
},
[63] = {
	awardList = {{type=0,id=2,count=50000}},
},
[64] = {
	awardList = {{type=0,id=2,count=1000}},
},
[65] = {
	awardList = {{type=0,id=2,count=1000}},
},
[66] = {
	awardList = {{type=0,id=2,count=1000}},
},
[67] = {
	awardList = {{type=0,id=2,count=1000}},
},
[68] = {
	awardList = {{type=0,id=2,count=1000}},
},
[69] = {
	awardList = {{type=0,id=2,count=1000}},
},
[70] = {
	awardList = {{type=0,id=2,count=50000}},
},
[71] = {
	awardList = {{type=0,id=2,count=1000}},
},
[72] = {
	awardList = {{type=0,id=2,count=1000}},
},
[73] = {
	awardList = {{type=0,id=2,count=1000}},
},
[74] = {
	awardList = {{type=0,id=2,count=1000}},
},
[75] = {
	awardList = {{type=0,id=2,count=1000}},
},
[76] = {
	awardList = {{type=0,id=2,count=1000}},
},
[77] = {
	awardList = {{type=0,id=2,count=50000}},
},
[78] = {
	awardList = {{type=0,id=2,count=1000}},
},
[79] = {
	awardList = {{type=0,id=2,count=1000}},
},
[80] = {
	awardList = {{type=0,id=2,count=1000}},
},
[81] = {
	awardList = {{type=0,id=2,count=1000}},
},
[82] = {
	awardList = {{type=0,id=2,count=1000}},
},
[83] = {
	awardList = {{type=0,id=2,count=1000}},
},
[84] = {
	awardList = {{type=0,id=2,count=50000}},
},
[85] = {
	awardList = {{type=0,id=2,count=1000}},
},
[86] = {
	awardList = {{type=0,id=2,count=1000}},
},
[87] = {
	awardList = {{type=0,id=2,count=1000}},
},
[88] = {
	awardList = {{type=0,id=2,count=1000}},
},
[89] = {
	awardList = {{type=0,id=2,count=1000}},
},
[90] = {
	awardList = {{type=0,id=2,count=1000}},
},
[91] = {
	awardList = {{type=0,id=2,count=1000}},
},
[92] = {
	awardList = {{type=0,id=2,count=50000}},
},
[93] = {
	awardList = {{type=0,id=2,count=1000}},
},
[94] = {
	awardList = {{type=0,id=2,count=1000}},
},
[95] = {
	awardList = {{type=0,id=2,count=1000}},
},
[96] = {
	awardList = {{type=0,id=2,count=1000}},
},
[97] = {
	awardList = {{type=0,id=2,count=1000}},
},
[98] = {
	awardList = {{type=0,id=2,count=1000}},
},
[99] = {
	awardList = {{type=0,id=2,count=1000}},
},
[100] = {
	awardList = {{type=0,id=2,count=1000}},
},
[101] = {
	awardList = {{type=0,id=2,count=1000}},
},
[102] = {
	awardList = {{type=0,id=2,count=1000}},
},
[103] = {
	awardList = {{type=0,id=2,count=1000}},
},
[104] = {
	awardList = {{type=0,id=2,count=1000}},
},
[105] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=900001,count=1}},
},
[106] = {
	awardList = {{type=0,id=2,count=1000}},
},
[107] = {
	awardList = {{type=0,id=2,count=1000}},
},
[108] = {
	awardList = {{type=0,id=2,count=1001}},
},
[109] = {
	awardList = {{type=0,id=2,count=1000}},
},
[110] = {
	awardList = {{type=0,id=2,count=1000}},
},
[111] = {
	awardList = {{type=0,id=2,count=1000}},
},
[112] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=200113,count=1}},
},
[113] = {
	awardList = {{type=0,id=2,count=1000}},
},
[114] = {
	awardList = {{type=0,id=2,count=1000}},
},
[115] = {
	awardList = {{type=0,id=2,count=1000}},
},
[116] = {
	awardList = {{type=0,id=2,count=1000}},
},
[117] = {
	awardList = {{type=0,id=2,count=1000}},
},
[118] = {
	awardList = {{type=0,id=2,count=1000}},
},
[119] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=252230,count=1}},
},
[120] = {
	awardList = {{type=0,id=2,count=1000}},
},
[121] = {
	awardList = {{type=0,id=2,count=1000}},
},
[122] = {
	awardList = {{type=0,id=2,count=1000}},
},
[123] = {
	awardList = {{type=0,id=2,count=1000}},
},
[124] = {
	awardList = {{type=0,id=2,count=1000}},
},
[125] = {
	awardList = {{type=0,id=2,count=1000}},
},
[126] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=220011,count=1}},
},
[127] = {
	awardList = {{type=0,id=2,count=1000}},
},
[128] = {
	awardList = {{type=0,id=2,count=1000}},
},
[129] = {
	awardList = {{type=0,id=2,count=1000}},
},
[130] = {
	awardList = {{type=0,id=2,count=1000}},
},
[131] = {
	awardList = {{type=0,id=2,count=1000}},
},
[132] = {
	awardList = {{type=0,id=2,count=1000}},
},
[133] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=260065,count=1}},
},
[134] = {
	awardList = {{type=0,id=2,count=1000}},
},
[135] = {
	awardList = {{type=0,id=2,count=1000}},
},
[136] = {
	awardList = {{type=0,id=2,count=1000}},
},
[137] = {
	awardList = {{type=0,id=2,count=1000}},
},
[138] = {
	awardList = {{type=0,id=2,count=1000}},
},
[139] = {
	awardList = {{type=0,id=2,count=1000}},
},
[140] = {
	awardList = {{type=0,id=2,count=50000},{type=1,id=200301,count=250}},
},
[141] = {
	awardList = {{type=0,id=2,count=1000}},
},
[142] = {
	awardList = {{type=0,id=2,count=1000}},
},
[143] = {
	awardList = {{type=0,id=2,count=1000}},
},
[144] = {
	awardList = {{type=0,id=2,count=1000}},
},
[145] = {
	awardList = {{type=0,id=2,count=1000}},
},
[146] = {
	awardList = {{type=0,id=2,count=1000}},
},
[147] = {
	awardList = {{type=0,id=2,count=50000}},
},
[148] = {
	awardList = {{type=0,id=2,count=1000}},
},
[149] = {
	awardList = {{type=0,id=2,count=1000}},
},
[150] = {
	awardList = {{type=0,id=2,count=1000}},
},
[151] = {
	awardList = {{type=0,id=2,count=1000}},
},
[152] = {
	awardList = {{type=0,id=2,count=1000}},
},
[153] = {
	awardList = {{type=0,id=2,count=1000}},
},
[154] = {
	awardList = {{type=0,id=2,count=50000}},
},
[155] = {
	awardList = {{type=0,id=2,count=1000}},
},
[156] = {
	awardList = {{type=0,id=2,count=1000}},
},
[157] = {
	awardList = {{type=0,id=2,count=1000}},
},
[158] = {
	awardList = {{type=0,id=2,count=1000}},
},
[159] = {
	awardList = {{type=0,id=2,count=1000}},
},
[160] = {
	awardList = {{type=0,id=2,count=1000}},
},
[161] = {
	awardList = {{type=0,id=2,count=50000}},
},
[162] = {
	awardList = {{type=0,id=2,count=1000}},
},
[163] = {
	awardList = {{type=0,id=2,count=1000}},
},
[164] = {
	awardList = {{type=0,id=2,count=1000}},
},
[165] = {
	awardList = {{type=0,id=2,count=1000}},
},
[166] = {
	awardList = {{type=0,id=2,count=1000}},
},
[167] = {
	awardList = {{type=0,id=2,count=1000}},
},
[168] = {
	awardList = {{type=0,id=2,count=50000}},
},
[169] = {
	awardList = {{type=0,id=2,count=1000}},
},
[170] = {
	awardList = {{type=0,id=2,count=1000}},
},
[171] = {
	awardList = {{type=0,id=2,count=1000}},
},
[172] = {
	awardList = {{type=0,id=2,count=1000}},
},
[173] = {
	awardList = {{type=0,id=2,count=1000}},
},
[174] = {
	awardList = {{type=0,id=2,count=1000}},
},
[175] = {
	awardList = {{type=0,id=2,count=50000}},
},
[176] = {
	awardList = {{type=0,id=2,count=1000}},
},
[177] = {
	awardList = {{type=0,id=2,count=1000}},
},
[178] = {
	awardList = {{type=0,id=2,count=1000}},
},
[179] = {
	awardList = {{type=0,id=2,count=1000}},
},
[180] = {
	awardList = {{type=0,id=2,count=1000}},
},
[181] = {
	awardList = {{type=0,id=2,count=1000}},
},
[182] = {
	awardList = {{type=0,id=2,count=50000}},
},
[183] = {
	awardList = {{type=0,id=2,count=1000}},
},
[184] = {
	awardList = {{type=0,id=2,count=1000}},
},
[185] = {
	awardList = {{type=0,id=2,count=1000}},
},
[186] = {
	awardList = {{type=0,id=2,count=1000}},
},
[187] = {
	awardList = {{type=0,id=2,count=1000}},
},
[188] = {
	awardList = {{type=0,id=2,count=1000}},
},
[189] = {
	awardList = {{type=0,id=2,count=1000}},
},
[190] = {
	awardList = {{type=0,id=2,count=50000}},
},
[191] = {
	awardList = {{type=0,id=2,count=1000}},
},
[192] = {
	awardList = {{type=0,id=2,count=1000}},
},
[193] = {
	awardList = {{type=0,id=2,count=1000}},
},
[194] = {
	awardList = {{type=0,id=2,count=1000}},
},
[195] = {
	awardList = {{type=0,id=2,count=1000}},
},
[196] = {
	awardList = {{type=0,id=2,count=1000}},
},
}