--L-礼包兑换码.xlsx 渠道激活码
ChannelGiftCodeConfig={
["4fbb9b6d"] = {
	code = "4fbb9b6d",
	appid = 3001,
	mailTitle = "新手礼包兑换成功",
	mailContent = "新手礼包兑换成功。您获得了至圣玉蝶*20，精炼石*100，聚灵石*200，请在背包中查看",
	gift = {{type=1,id=200008,count=20},{type=1,id=200136,count=100},{type=1,id=200003,count=200}},
},
["5fe19be7"] = {
	code = "5fe19be7",
	appid = 3001,
	mailTitle = "特权礼包兑换成功",
	mailContent = "特权礼包兑换成功。您获得了神装结晶*15，至圣玉蝶*50，强化石*2000，请在背包中查看",
	gift = {{type=1,id=200007,count=15},{type=1,id=200008,count=50},{type=1,id=200002,count=2000}},
},
}