--L-礼包兑换码.xlsx 渠道激活码
ChannelGiftCodeConfig={
["4b5d8eb7"] = {
	code = "4b5d8eb7",
	appid = 3001,
	mailTitle = "独家礼包5兑换成功",
	mailContent = "独家礼包5兑换成功。您获得了御器精魂*10，诛仙橙晶*10，转生丹*1，请在背包中查看",
	gift = {{type=1,id=200005,count=10},{type=1,id=200141,count=10},{type=1,id=200009,count=1}},
},
["56761c15"] = {
	code = "56761c15",
	appid = 3001,
	mailTitle = "独家礼包2兑换成功",
	mailContent = "独家礼包2兑换成功。您获得了羽毛*30，诛仙橙晶*10，绿色圣地图鉴包*1，请在背包中查看",
	gift = {{type=1,id=200001,count=30},{type=1,id=200141,count=10},{type=1,id=201015,count=1}},
},
["7586c65b"] = {
	code = "7586c65b",
	appid = 3001,
	mailTitle = "新手礼包兑换成功",
	mailContent = "新手礼包兑换成功。您获得了御器精魄*10，神装结晶*10，诛仙橙晶*10，请在背包中查看",
	gift = {{type=1,id=200005,count=10},{type=1,id=200007,count=10},{type=1,id=200141,count=10}},
},
["7631ce03"] = {
	code = "7631ce03",
	appid = 3001,
	mailTitle = "独家礼包3兑换成功",
	mailContent = "独家礼包3兑换成功。您获得了御器精魂*10，诛仙橙晶*10，绿色奇观地图鉴包*1，请在背包中查看",
	gift = {{type=1,id=200005,count=10},{type=1,id=200141,count=10},{type=1,id=201009,count=1}},
},
["c27c5323"] = {
	code = "c27c5323",
	appid = 3001,
	mailTitle = "特权礼包兑换成功",
	mailContent = "特权礼包兑换成功。您获得了羽毛*100，诛仙橙晶*50，铜钱*500万，请在背包中查看",
	gift = {{type=1,id=200001,count=100},{type=1,id=200141,count=50},{type=0,id=1,count=5000000}},
},
["c725d88c"] = {
	code = "c725d88c",
	appid = 3001,
	mailTitle = "独家礼包6兑换成功",
	mailContent = "独家礼包6兑换成功。您获得了羽毛*30，诛仙橙晶*10，飞升丹*1，请在背包中查看",
	gift = {{type=1,id=200001,count=30},{type=1,id=200141,count=10},{type=1,id=201104,count=1}},
},
["d8538eb4"] = {
	code = "d8538eb4",
	appid = 3001,
	mailTitle = "独家礼包1兑换成功",
	mailContent = "独家礼包1兑换成功。您获得了御器精魂*10，诛仙橙晶*10，绿色圣地图鉴包*1，请在背包中查看",
	gift = {{type=1,id=200005,count=10},{type=1,id=200141,count=10},{type=1,id=201015,count=1}},
},
["ef610730"] = {
	code = "ef610730",
	appid = 3001,
	mailTitle = "独家礼包4兑换成功",
	mailContent = "独家礼包4兑换成功。您获得了羽毛*30，诛仙橙晶*10，绿色奇观地图鉴包*1，请在背包中查看",
	gift = {{type=1,id=200001,count=30},{type=1,id=200141,count=10},{type=1,id=201009,count=1}},
},
["f49da468"] = {
	code = "f49da468",
	appid = 3001,
	mailTitle = "独家礼包7兑换成功",
	mailContent = "独家礼包7兑换成功。您获得了御器精魂*10，诛仙橙晶*10，中级经验卡*2，请在背包中查看",
	gift = {{type=1,id=200005,count=10},{type=1,id=200141,count=10},{type=1,id=200139,count=2}},
},
["fa2e1795"] = {
	code = "fa2e1795",
	appid = 3001,
	mailTitle = "豪华礼包兑换成功",
	mailContent = "豪华礼包兑换成功。您获得了羽毛*60，神装结晶*30，聚灵石*30，请在背包中查看",
	gift = {{type=1,id=200001,count=60},{type=1,id=200007,count=30},{type=1,id=200003,count=30}},
},
}