--L-礼包兑换码.xlsx 渠道激活码
ChannelGiftCodeConfig={
["4fbb9b6d"] = {
	code = "4fbb9b6d",
	appid = 3001,
	mailTitle = "新手礼包兑换成功",
	mailContent = "特权礼包兑换成功。您获得了强化石*200，羽毛*50，洗髓丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=200},{type=1,id=200001,count=50},{type=1,id=200004,count=10}},
},
["5fe19be7"] = {
	code = "5fe19be7",
	appid = 3001,
	mailTitle = "特权礼包兑换成功",
	mailContent = "特权礼包兑换成功。您获得了聚灵石*50，洗髓丹*30，御器精魄*30，请在背包中查看",
	gift = {{type=1,id=200003,count=50},{type=1,id=200004,count=30},{type=1,id=200005,count=30}},
},
["test"] = {
	code = "test",
	appid = 3001,
	mailTitle = "特权礼包兑换成功",
	mailContent = "特权礼包兑换成功。您获得了聚灵石*50，洗髓丹*30，御器精魄*30，请在背包中查看",
	gift = {{type=1,id=204132,count=1},{type=1,id=204133,count=1},{type=1,id=204134,count=1},{type=0,id=2,count=10000000}},
},
}