--L-礼包兑换码.xlsx 礼包兑换码配置
GiftCodeConfig={
[1001] = {
	id = 1001,
	gift = {{type=1,id=200137,count=1},{type=1,id=200165,count=5},{type=1,id=200166,count=5}},
	mailTitle = "独家礼包兑换成功",
	mailContent = "独家礼包兑换成功。您获得了等级直升丹*1，装备寻宝卷*5，仙纹寻宝卷*5，请在背包中查看",
	count = 1,
},
[1002] = {
	id = 1001,
	gift = {{type=1,id=200008,count=20},{type=1,id=200136,count=100},{type=1,id=200003,count=200}},
	mailTitle = "礼包兑换成功",
	mailContent = "礼包兑换成功。您获得了至圣玉蝶*20，精炼石*100，聚灵石*200，请在背包中查看",
	count = 1,
},
[1003] = {
	id = 1001,
	gift = {{type=1,id=200007,count=15},{type=1,id=200008,count=50},{type=1,id=200002,count=5}},
	mailTitle = "礼包兑换成功",
	mailContent = "礼包兑换成功。您获得了神装结晶*15，至圣玉蝶*50，强化石*5，请在背包中查看",
	count = 1,
},
}