--V-vip配置.xlsx vip配置
VipConfig={
[1] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=50},{type=1,id=200002,count=50},{type=1,id=200136,count=300}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 10000,
},
[2] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=100},{type=1,id=200002,count=100},{type=1,id=200136,count=500}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 20000,
},
[3] = {
	needYb = 0,
	awards = {{type=1,id=200013,count=1},{type=1,id=200005,count=30},{type=1,id=200004,count=60}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 50000,
},
[4] = {
	needYb = 0,
	awards = {{type=1,id=101009,count=1},{type=1,id= 102009,count=1},{type=1,id=103009,count=1},{type=1,id=200008,count=100}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 0,
	giftPrice = 100000,
},
[5] = {
	needYb = 0,
	awards = {{type=1,id=200014,count=1},{type=1,id=200146,count=1},{type=1,id=200145,count=1},{type=1,id=200148,count=1}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 0,
	giftPrice = 300000,
},
[6] = {
	needYb = 0,
	awards = {{type=1,id=200143,count=1},{type=1,id=200144,count=1},{type=1,id=200147,count=1},{type=1,id=200149,count=1}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 400000,
},
[7] = {
	needYb = 100000,
	awards = {{type=1,id=200142,count=1},{type=1,id=600009,count=1},{type=1,id=260042,count=1},{type=1,id=260036,count=1}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 500000,
},
[8] = {
	needYb = 500000,
	awards = {{type=1,id=101503,count=1},{type=1,id=121503,count=1},{type=1,id=200141,count=500},{type=1,id=260044,count=1}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 1000000,
},
[9] = {
	needYb = 1000000,
	awards = {{type=1,id=260033,count=1},{type=1,id=200326,count=1},{type=1,id=501401,count=1},{type=1,id=503401,count=1}},
	attrAddition = {{type=4,value=200000},{type=2,value=200000},{type=5,value=50000},{type=6,value=50000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 2000000,
},
[10] = {
	needYb = 3000000,
	awards = {{type=1,id=504401,count=1},{type=1,id=505401,count=1},{type=1,id=900035,count=1},{type=1,id=900037,count=1}},
	attrAddition = {{type=4,value=200000},{type=2,value=200000},{type=5,value=50000},{type=6,value=50000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 3000000,
},
}