--V-vip配置.xlsx vip配置
VipConfig={
[1] = {
	needYb = 0,
	awards = {{type=1,id=201015,count=1},{type=1,id=200002,count=100},{type=1,id=200136,count=100}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[2] = {
	needYb = 0,
	awards = {{type=1,id=201015,count=1},{type=1,id=200002,count=200},{type=1,id=200136,count=200}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[3] = {
	needYb = 0,
	awards = {{type=1,id=201009,count=1},{type=1,id=200002,count=300},{type=1,id=200136,count=300}},
	attrAddition = {{type=4,value=1000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[4] = {
	needYb = 0,
	awards = {{type=1,id=201009,count=1},{type=1,id=200005,count=5},{type=1,id=200004,count=10}},
	attrAddition = {{type=4,value=1500}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[5] = {
	needYb = 0,
	awards = {{type=1,id=200007,count=20},{type=1,id=200001,count=5},{type=1,id= 200004,count=10}},
	attrAddition = {{type=4,value=2000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[6] = {
	needYb = 0,
	awards = {{type=1,id=200007,count=20},{type=1,id=200002,count=100},{type=1,id= 200004,count=10},{type=1,id=200136,count=600}},
	attrAddition = {{type=4,value=2500}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[7] = {
	needYb = 0,
	awards = {{type=1,id=200007,count=30},{type=1,id=200002,count=200},{type=1,id= 200004,count=20},{type=1,id=200136,count=900}},
	attrAddition = {{type=4,value=3000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[8] = {
	needYb = 0,
	awards = {{type=1,id=200007,count=30},{type=1,id=200002,count=300},{type=1,id= 200004,count=20},{type=1,id=200136,count=1000}},
	attrAddition = {{type=4,value=3500}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[9] = {
	needYb = 0,
	awards = {{type=1,id=200008,count=10},{type=1,id=200005,count=10},{type=1,id= 200004,count=20},{type=1,id=200136,count=1200}},
	attrAddition = {{type=4,value=4000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[10] = {
	needYb = 0,
	awards = {{type=1,id=200165,count=4},{type=1,id=200005,count=10},{type=1,id= 200009,count=3},{type=1,id=200138,count=3}},
	attrAddition = {{type=4,value=4000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[11] = {
	needYb = 0,
	awards = {{type=1,id=503401,count=1},{type=1,id=201015,count=1},{type=1,id= 200001,count=10},{type=1,id=200005,count=10}},
	attrAddition = {{type=4,value=4000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[12] = {
	needYb = 0,
	awards = {{type=1,id=501401,count=1},{type=0,id=2,count=5000},{type=1,id= 200003,count=10},{type=1,id=200002,count=500}},
	attrAddition = {{type=4,value=4000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[13] = {
	needYb = 10000,
	awards = {{type=1,id=200148,count=1},{type=1,id=200007,count=100},{type=1,id= 200009,count=2},{type=1,id=601000,count=20}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[14] = {
	needYb = 50000,
	awards = {{type=1,id=200147,count=1},{type=1,id=201000,count=3},{type=1,id= 200010,count=1},{type=1,id=601000,count=20}},
	attrAddition = {{type=4,value=11000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[15] = {
	needYb = 100000,
	awards = {{type=1,id=200145,count=1},{type=1,id=201000,count=3},{type=1,id= 201010,count=1},{type=1,id=601000,count=40}},
	attrAddition = {{type=4,value=11500}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[16] = {
	needYb = 200000,
	awards = {{type=1,id=200143,count=1},{type=1,id=200326,count=1},{type=1,id= 201010,count=1},{type=1,id=200001,count=3000}},
	attrAddition = {{type=4,value=11800}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[17] = {
	needYb = 300000,
	awards = {{type=1,id=900037,count=1},{type=1,id=260036,count=1},{type=1,id= 220011,count=1},{type=1,id=200005,count=100}},
	attrAddition = {{type=4,value=12000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 1,
},
[18] = {
	needYb = 600000,
	awards = {{type=1,id=121501,count=1},{type=1,id=201007,count=1},{type=1,id= 220011,count=1},{type=0,id=1,count=100000000}},
	attrAddition = {{type=4,value=15000}},
	boss1buy = 3,
	boss2buy = 0,
	giftPrice = 1,
},
[19] = {
	needYb = 750000,
	awards = {{type=1,id=200014,count=1},{type=1,id=200013,count=1},{type=1,id= 201010,count=10},{type=1,id=220011,count=2}},
	attrAddition = {{type=4,value=20000}},
	boss1buy = 3,
	boss2buy = 0,
	giftPrice = 1,
},
[20] = {
	needYb = 1250000,
	awards = {{type=1,id=200314,count=1},{type=1,id=200326,count=2},{type=1,id= 200142,count=1},{type=1,id=200146,count=1}},
	attrAddition = {{type=4,value=25000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 1,
},
[21] = {
	needYb = 1500000,
	awards = {{type=1,id=900007,count=1},{type=1,id=200326,count=5},{type=1,id= 200144,count=1},{type=1,id=200149,count=1}},
	attrAddition = {{type=4,value=30000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 1,
},
[22] = {
	needYb = 2000000,
	awards = {{type=1,id=900008,count=1},{type=1,id=600012,count=5},{type=1,id= 200140,count=6},{type=1,id=260042,count=1}},
	attrAddition = {{type=4,value=40000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 1,
},
[23] = {
	needYb = 2500000,
	awards = {{type=1,id=204081,count=1},{type=1,id=204082,count=5},{type=1,id= 200140,count=15},{type=1,id=260034,count=1}},
	attrAddition = {{type=4,value=60000},{type=0,value=200000},{type=5,value=50000},{type=6,value=50000},},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 1,
},
[24] = {
	needYb = 3000000,
	awards = {{type=1,id=204077,count=1},{type=1,id=521401,count=1},{type=1,id= 200301,count=3000},{type=1,id=200140,count=30}},
	attrAddition = {{type=4,value=120000},{type=0,value=200000},{type=5,value=50000},{type=6,value=50000},},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 1,
},
}