--V-vip配置.xlsx vip配置
VipConfig={
[1] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=200},{type=1,id=200002,count=500},{type=1,id= 200136,count=3000}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 20000,
},
[2] = {
	needYb = 0,
	awards = {{type=1,id=200005,count=30},{type=1,id=200002,count=500},{type=1,id= 200004,count=60}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 50000,
},
[3] = {
	needYb = 0,
	awards = {{type=1,id=200013,count=1},{type=1,id=101009,count=1},{type=1,id= 102009,count=1},{type=1,id= 103009,count=1}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 0,
	boss2buy = 0,
	giftPrice = 100000,
},
[4] = {
	needYb = 0,
	awards = {{type=1,id=200143,count=1},{type=1,id=200144,count=1},{type=1,id= 200147,count=1},{type=1,id= 200149,count=1}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 0,
	giftPrice = 800000,
},
[5] = {
	needYb = 0,
	awards = {{type=1,id=200014,count=1},{type=1,id=200146,count=1},{type=1,id= 200145,count=1},{type=1,id= 200148,count=1}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 0,
	giftPrice = 1200000,
},
[6] = {
	needYb = 0,
	awards = {{type=1,id=200142,count=1},{type=1,id=600009,count=1},{type=1,id= 260042,count=1},{type=1,id= 260036,count=1}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 1500000,
},
[7] = {
	needYb = 100000,
	awards = {{type=1,id=200005,count=30},{type=1,id=200003,count=200},{type=1,id=200004,count=50},{type=1,id=200001,count=100}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 0,
},
[8] = {
	needYb = 500000,
	awards = {{type=1,id=200005,count=30},{type=1,id=200003,count=200},{type=1,id=200004,count=50},{type=1,id=200001,count=100}},
	attrAddition = {{type=4,value=10000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 0,
},
[9] = {
	needYb = 1000000,
	awards = {{type=1,id=200005,count=30},{type=1,id=200003,count=200},{type=1,id=200004,count=50},{type=1,id=200001,count=100}},
	attrAddition = {{type=4,value=200000},{type=2,value=200000},{type=5,value=50000},{type=6,value=50000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 0,
},
[10] = {
	needYb = 3000000,
	awards = {{type=1,id=1510101,count=1},{type=1,id=200005,count=30},{type=1,id=200003,count=200},{type=1,id=200004,count=50},{type=1,id=200001,count=100}},
	attrAddition = {{type=4,value=200000},{type=2,value=200000},{type=5,value=50000},{type=6,value=50000}},
	boss1buy = 3,
	boss2buy = 3,
	giftPrice = 0,
},
}